{
  "singleQuote": true,
  "trailingComma": "all",
  "parser": "typescript",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "^@/(.*)$",
    "^@api/(.*)$",
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@config/(.*)$",
    "^@constants/(.*)$",
    "^@dto/(.*)$",
    "^@hooks/(.*)$",
    "^@navigation/(.*)$",
    "^@screens/(.*)$",
    "^@services/(.*)$",
    "^@utils/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
