{
  "singleQuote": true,
  "trailingComma": "all",
  "parser": "typescript",
  "importOrder": [
    "^[./]",
    "^@expo/(.*)$",
    "^@/(.*)$",
    "^@config/(.*)$",
    "^@constants/(.*)$",
    "^@hooks/(.*)$",
    "^@components/(.*)$",
    "^@navigation/(.*)$",
    "^@screens/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
