@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Theme (light mode) */
:root {
  /* Backgrounds */
  --color-background-0: 255 255 255;
  --color-background-50: 248 250 252;
  --color-background-100: 241 245 249;
  --color-background-900: 24 23 25;

  /* Primary Colors (Red) */
  --color-primary-0: 255 240 245;
  --color-primary-50: 255 230 240;
  --color-primary-100: 255 210 230;
  --color-primary-200: 255 180 210;
  --color-primary-300: 255 140 180;
  --color-primary-400: 255 80 130;
  --color-primary-500: 241 73 106;
  --color-primary-600: 230 0 75;
  --color-primary-700: 200 0 65;
  --color-primary-800: 170 0 55;
  --color-primary-900: 140 0 45;

  /* Typography (texts) */
  --color-typography-500: 0 0 0;
}

/* Dark Theme (dark mode) */
.dark {
  --color-background-0: 24 23 25;
  --color-background-50: 38 38 38;
  --color-background-100: 55 55 55;
  --color-background-900: 18 18 20;

  --color-primary-0: 255 240 245;
  --color-primary-50: 255 230 240;
  --color-primary-100: 255 210 230;
  --color-primary-200: 255 180 210;
  --color-primary-300: 255 140 180;
  --color-primary-400: 255 80 130;
  --color-primary-500: 255 0 85;
  --color-primary-600: 230 0 75;
  --color-primary-700: 200 0 65;
  --color-primary-800: 170 0 55;
  --color-primary-900: 140 0 45;

  --color-typography-500: 255 255 255;
}
